html {
    font-family: Roboto;
}



li {
    list-style: none;
}


a {
    color: inherit;
    text-decoration: none;
}

h1,
p {
    margin: 0;
}

h1 {
    line-height: 3rem;
}


/* Hero */

.hero {
    background:#1F2937 ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 15vw 0 15vw;
    gap: 75px;
    padding-bottom: 100px;

}

.hero-main-text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}

.hero-secondary-text {
 font-size: 18px;
 color: #E5E7EB;  
}

.logo {
font-size: 24px;
color: #F9FAF8;
font-weight: bolder;
}

.hero-nav-bar,
.hero-nav-bar > .links {
    display: flex;
    align-items: center;
    justify-content: space-between ;
    gap: 25px;

}

.hero .container {
    display: flex;
    justify-content: space-between ;

}

.placeholder {
 background: #e5e7eb4b;   
 display: flex;
 align-items: center;
 justify-content: center;
 width: 450px;
 margin: 0 0 0 90px;
}

.hero-main-section {
    width: 400px;
}

p.hero-secondary-text {
    margin-bottom: 8px;
}

.hero-button {
    background: #3882F6 ;
    border: 0;
    color: #F9FAF8;
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 8px;
}

/* Information */

.information {
    padding: 10px 0 100px 0 ;
}

.information-header-text {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin: 40px;
}

.information-image {
    width: 150px;
    height: 150px;
    border: solid #3882F6 3px;
    border-radius: 15px;
}

.information-subtext {
    font-size: 18px;
    color: rgb(75, 85, 99);
    font-weight: 480 ;
    
}

.information .container {
    display: flex;
    justify-content: center;
    gap: 60px ;
}

.container-image-subtext {
    width: 150px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;

}

/* Testimonial */

.testimonial {
    background: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 100px;
    justify-content: center;
    align-items: center;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;

}

.testimonial .quote,
.testimonial .author {
width: 750px;
text-align: left;
}

.testimonial .author {
    text-align: right;
    font-size: 30px;
    font-weight: bold;
    padding-right: 50px;
}
